<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Board Sample</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
	var app = angular.module("myApp",[]);
	
	app.controller("myCtrl", function($scope) {
		$scope.boardlist = [
			{id : 1, title : 'Title1', writer : 'Writer1'},
			{id : 2, title : 'Title2', writer : 'Writer2'},
			{id : 3, title : 'Title3', writer : 'Writer3'},
			{id : 4, title : 'Title4', writer : 'Writer4'}
		];
		
		$scope.boardForm = {};
		
		$scope.insert = function() {
			
			var newId;
			
			if(! $scope.boardlist.length) {
				newId = 1;
			}else {
				newId = $scope.boardlist[$scope.boardlist.length - 1].id + 1;
			}
			
			var newItem = {
					id : newId, title : $scope.boardForm.title, writer : $scope.boardForm.writer
			};
			
			$scope.boardlist.push(newItem); //배열에 요소 추가
			
		}
		
		$scope.update = function(id) {
			if(id) return; //예외처리
			
			var idx = -1;
			for(var i = 0; i < $scope.boardlist.length; i++) {
				if($scope.boardlist[i].id === id) {
					idx = i;
					break;
				}
			}
			
			if(idx === -1) return; //예외처리
			
			var newItem = {
				id : id, title : $scope.boardForm.title, writer : $scope.boardForm.writer
			};
			
			
			$scope.boardlist.splice(idx, 1, newItem); //배열의 요소 변경
			
		}
		
		$scope.remove = function(id) {
			if(!id) return; //예외처리
			
			var idx = -1;
			for(var i = 0; i < $scope.boardlist.length; i++) {
				if($scope.boardlist[i].id === id) {
					idx = i;
					break;
				}
			}
			
			if(idx === -1) return; //예외처리
			
			$scope.boardlist.splice(idx, 1); //JavaScript에서의 array의 삭제
				
		}
	
	});
</script>
</head>

<body>
	
	<div ng-app="myApp" ng-controller="myCtrl">
		<form ng-submit="insert()">
			<table>
				<tr>
					<td>Title : </td>
					<td><input type="text" ng-model="boardForm.title"></td>
				</tr>
				<tr>
					<td>Name :</td>
					<td><input type="text" ng-model="boardForm.writer"></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
		<br>
		<table border="1">
			<tr>
				<td style="width: 50px">No.</td>
				<td style="width: 200px">Title</td>
				<td style="width: 50px">Name</td>
				<td style="width: 50px">Update</td>
				<td style="width: 50px">Delete</td>
				
			</tr>
			<tr ng-repeat="item in boardlist"> 
				<td style="width: 50px">{{$index+1}}</td>
				<td style="width: 50px">{{item.id}}</td>
				<td style="width: 200px">{{item.title}}</td>
				<td style="width: 50px">{{item.writer}}</td>
				<td style="width: 50px"><button type="button" ng-click="update(item.id)">Update</button></td>
				<td style="width: 50px"><button type="button" ng-click="remove(item.id)">Delete</button></td>
				
			</tr>
		</table>
	</div>
</body>
</html>